{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "jest",
    "babel",
    "flowtype",
    "flowtype-errors"
  ],
  "rules": {
    "camelcase": "off",
    "import/no-named-as-default": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "semi": 0,
    "max-len": [1, 200],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/no-types-missing-file-annotation": 0,
    "global-require": 0,
    "react/jsx-filename-extension": ["off" ],
    "no-underscore-dangle": ["off"],
    "react/no-unescaped-entities": ["off"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "flowtype-errors/show-errors": 2,
    "flowtype-errors/show-warnings": 1
  },
  "globals": {
    "__DEV__": true,
    "STORYBOOK": true,
    "window": true,
    "expect": true,
    "Raven": true
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
