{
  "extends": "airbnb",
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "jest",
    "babel",
    "flowtype"
  ],
  "rules": {
    "camelcase": "off",
    "import/no-named-as-default": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "semi": 0,
    "max-len": [1, 200],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "global-require": 0,
    "react/jsx-filename-extension": ["off" ],
    "no-underscore-dangle": ["off"],
    "react/no-unescaped-entities": ["off"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "globals": {
    "__DEV__": true,
    "__dirname": false,
    "__fbBatchedBridgeConfig": false,
    "alert": false,
    "cancelAnimationFrame": false,
    "cancelIdleCallback": false,
    "clearImmediate": true,
    "clearInterval": false,
    "clearTimeout": false,
    "console": false,
    "document": false,
    "escape": false,
    "Event": false,
    "EventTarget": false,
    "exports": false,
    "fetch": false,
    "FormData": false,
    "global": false,
    "Map": true,
    "module": false,
    "navigator": false,
    "process": false,
    "Promise": true,
    "requestAnimationFrame": true,
    "requestIdleCallback": true,
    "require": false,
    "Set": true,
    "setImmediate": true,
    "setInterval": false,
    "setTimeout": false,
    "window": false,
    "XMLHttpRequest": false
  }
}
