# NodeJS
#
node_modules/
.expo/
npm-debug.*
coverage/
npm-debug.log
yarn-error.log
jsconfig.json
web/src/bundle.js
package-lock.json

# OSX
#
.DS_Store

# Android/IJ
#
*.iml
.idea
.gradle
local.properties
android/build/
android/app/build/

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
Pods/

# React
lib/

# Snapshots
.loki
**/__snapshots__/**
.reg
