<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSecret</key>
	<string>3c5b1b4e-6e06-40ce-86fd-7f49d6ed8fed
3c5b1b4e-6e06-40ce-86fd-7f49d6ed8fed</string>
</dict>
</plist>
